---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Heading from '@/components/Heading.astro'
import '@c/text.scss'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }))
}

type Props = { post: CollectionEntry<'posts'> }
const { post } = Astro.props
const { Content } = await post.render()
---

<DefaultLayout title={`${post.data.title} | è¨˜äº‹ | ãƒ¯ã‚¤ã®AstroðŸš€ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆ`}>
  {
    post.data.desc && (
      <Fragment slot="head-additional">
        <meta name="description" content={post.data.desc} />
      </Fragment>
    )
  }
  <Heading Hn="h1">{post.data.title}</Heading>
  <section class="p-post">
    <Content />
  </section>
</DefaultLayout>
