// prettier-ignore
$color: (
  default:       #000,

  text-dark:     #1a1a1a,
  text:          #3b3938,
  weak:          #c6c6c6,

  bg:            #fff,
  primary1:      #ca002c,
  primary1-dark: #b10026,
  primary1-light:#F7E7EA,
  primary2:      #5496b9,
  primary2-dark: #4e89a8,
  primary2-light:#F0F7FA,

  gray1:         #f4f4f4,
  gray2:         #707070,
  gray2-dark:    #3B3938,
  gray3:         #ededed,
  gray4:         #999,

  highlight:     #FFFCF0,

  summary:       #EBEBEB,
  details:       #BCBCBC,

  outline:       #ffd300,
);
