$family: (
  default: #{'"Noto Sans JP", sans-serif'},
);

// prettier-ignore
$size: (
  ss:      1.2rem,
  s:       1.4rem,
  default: 1.6rem,
  l:       1.8rem,
  ll:      2.0rem,
  xl:      2.4rem,
  h:       3.0rem,
  hl:      4.5rem,
);

$weight: (
  default: 500,
  regular: 400,
);
