@use '../../variables/' as var;
@use '../utility/' as u;

.p-home {
  &__hgroup {
    text-align: center;
    margin-bottom: 42px;
    p:nth-of-type(1) {
      font-size: var.get(fs, l);
      margin-bottom: 3px;
    }
    p:nth-of-type(2) {
      font-size: var.get(fs, h);
      margin-bottom: 14px;
    }
    h1 {
      font-size: var.get(fs, hl);
    }
  }
  &__alert {
    margin-bottom: 56px;
  }
  &__enter {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    a {
      @include u.fx-center;
      flex-direction: column;
      position: relative;
      width: 380px;
      height: 180px;
      box-sizing: border-box;
      border: 1px solid var.get(cl, gray2);
      border-radius: 10px;
      transition: 0.2s border;
    }
    a::before {
      content: '';
      display: block;
      width: 109px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: -115px;
      background: no-repeat center / contain;
    }
    a:nth-of-type(1)::before {
      background-image: url('../img/houjin.svg');
    }
    a:nth-of-type(2)::before {
      background-image: url('../img/kojin.svg');
    }
    a::after {
      content: '';
      display: block;
      width: 68px;
      height: 51px;
      margin-top: 16px;
      background: url('../img/icon/arrow.svg') no-repeat center / contain;
      filter: grayscale(1) contrast(0.8);
      transition: 0.2s filter;
    }
    a:hover {
      border: 4px solid var.get(cl, primary1);
      &::after {
        filter: none;
      }
    }
    p {
      font-size: var.get(fs, ll);
      text-align: center;
      line-height: var.get(lh, default);
    }
  }
}

@include u.media-query(sm) {
  .p-home {
    &__enter {
      width: 100%;
      padding: 0 30px;
      gap: 24px 40px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@include u.media-query(sp) {
  .p-home {
    padding-top: u.media-px(28);
    margin-bottom: u.media-px(20);
    &__hgroup {
      p:nth-of-type(1) {
        font-size: u.media-px(15);
        margin-bottom: u.media-px(2);
      }
      p:nth-of-type(2) {
        font-size: u.media-px(28);
        margin-bottom: u.media-px(9);
      }
      h1 {
        font-size: u.media-px(36);
      }
    }
    &__alert {
      margin-bottom: u.media-px(60);
    }
    &__enter {
      a {
        width: u.media-px(300);
        height: u.media-px(180);
        border-radius: u.media-px(10);
      }
      a::before {
        width: u.media-px(76);
        height: u.media-px(81);
        margin-left: u.media-px(-100);
      }
      a::after {
        width: u.media-px(68);
        height: u.media-px(51);
        margin-top: u.media-px(16);
      }
      p {
        font-size: u.media-px(20);
      }
    }
  }
}
