@use '../../variables/' as var;
@use '../utility/' as u;

.p-suisen {
  &__heading {
    .note {
      padding-top: 12px;
    }
  }
  &__textarea {
    &--xlarge {
      height: 160px;
      min-height: 160px;
    }
    &--large {
      height: 115px;
      min-height: 115px;
    }
    &--middle {
      height: 90px;
      min-height: 90px;
    }
  }
  @include u.media-query(sp) {
    &__textarea {
      &--xlarge {
        height: u.media-px(293);
        min-height: u.media-px(293);
      }
      &--large {
        height: u.media-px(293);
        min-height: u.media-px(293);
      }
      &--middle {
        height: u.media-px(160);
        min-height: u.media-px(160);
      }
    }
  }
  // ----------------------------------
  // コメント・推薦文入力
  // ----------------------------------
  &__message {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include u.media-query(sp) {
    &__message {
      margin-bottom: u.media-px(42);
    }
  }
  &__message--form {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 6px 0;
    padding: 30px;
    border-radius: 20px;
    background: var.get(cl, gray1);
    margin-bottom: 20px;
    @include u.media-query(sp) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto auto 1fr;
      gap: u.media-px(6) u.media-px(29);
      border-radius: u.media-px(20);
      margin-bottom: u.media-px(20);
      padding: u.media-px(25);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    // 赤
    .c-box__candidacy & {
      border-color: var.get(cl, primary1);
      color: var.get(cl, primary1);
    }
    // 緑
    .c-box__nominated & {
      border-color: var.get(cl, primary2);
      color: var.get(cl, primary2);
    }
    .p-suisen__message--division {
      grid-column: 1;
      grid-row: 1;
      font-size: var.get(fs, s);
      font-weight: var.get(fw, regular);
      margin-right: 29px;
    }
    .p-suisen__message--area {
      grid-column: 2;
      grid-row: 1;
      font-size: var.get(fs, s);
      font-weight: var.get(fw, regular);
    }
    .p-suisen__message--name {
      grid-column: 1 / span 2;
      grid-row: 2;
      font-size: var.get(fs, ll);
    }
    .p-suisen__message--company {
      grid-column: 1 / span 2;
      grid-row: 3;
      font-size: var.get(fs, s);
      font-weight: var.get(fw, regular);
      padding: 6px 0 0;
    }
    .p-suisen__message--checkboxes {
      grid-column: 3;
      grid-row: 1 / span 2;
      padding-left: 120px;
      + .p-suisen__message--textarea {
        grid-row: 3;
      }
    }
    .p-suisen__message--textarea {
      grid-column: 3;
      grid-row: 1 / span 3;
      padding-left: 120px;
    }
    @include u.media-query(sp) {
      .p-suisen__message--division {
        font-size: u.media-px(14);
        margin-right: 0;
      }
      .p-suisen__message--area {
        font-size: u.media-px(14);
      }
      .p-suisen__message--name {
        font-size: u.media-px(20);
      }
      .p-suisen__message--company {
        grid-column: 1 / span 2;
        grid-row: 3;
        font-size: u.media-px(14);
        padding: 0;
      }
      .p-suisen__message--checkboxes {
        grid-column: 1 / span 2;
        grid-row: 4;
        margin-top: u.media-px(10);
        padding-left: 0;
        + .p-suisen__message--textarea {
          grid-row: 5;
        }
      }
      .p-suisen__message--textarea {
        grid-column: 1 / span 2;
        grid-row: 4;
        margin-top: u.media-px(10);
        padding-left: 0;
      }
    }
    .c-form__textarea {
      border: 3px solid;
      border-radius: 5px;
    }
    @include u.media-query(sp) {
      .c-form__textarea {
        border: u.media-px(3) solid;
        border-radius: u.media-px(5);
      }
    }

    // 入力ページ立候補の太枠
    .p-suisen__message--input & {
      padding: 20px;
      border: 10px solid;
      background: var.get(cl, bg);
    }
    @include u.media-query(sp) {
      .p-suisen__message--input & {
        padding: u.media-px(25);
        border: u.media-px(7) solid;
      }
    }

    // textareaの枠色 赤
    .c-box__candidacy & .c-form__textarea {
      border-color: var.get(cl, primary1);
    }
    // textareaの枠色 緑
    .c-box__nominated & .c-form__textarea {
      border-color: var.get(cl, primary2);
    }

    // 確認ページ
    // 揺らぎがあって怪しいので全部10px
    .p-suisen__message--confirm & {
      padding: 20px;
      border: 10px solid;
      background: var.get(cl, bg);
    }
    @include u.media-query(sp) {
      .p-suisen__message--confirm & {
        padding: u.media-px(25);
        border: u.media-px(7) solid;
      }
    }

    .c-box__candidacy.p-suisen__message--confirm & .p-suisen__message--text {
      border: 1px solid var.get(cl, primary1);
    }
    .c-box__nominated.p-suisen__message--confirm & .p-suisen__message--text {
      border: 1px solid var.get(cl, primary2);
    }
  }
  // 確認ページの入力テキスト
  &__message--text {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    line-height: var.get(lh, default);
    background: var.get(cl, bg);
    font-weight: var.get(fw, regular);
    font-size: var.get(fs, default);
  }
  @include u.media-query(sp) {
    &__message--text {
      padding: u.media-px(20);
      border-radius: u.media-px(5);
      font-size: u.media-px(16);
    }
  }
}
