---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Heading from '@/components/Heading.astro'

// ts/jsのインポート
// https://docs.astro.build/ja/guides/imports/#typescript
import cats from '@/scripts/getcats'

import '@c/text.scss'
import '@p/cat.scss'
---

<DefaultLayout title="ねこ | ワイのAstroテンプレート">
  <section class="p-page">
    <Heading Hn="h1">ねこ</Heading>
    <p>/src/pages/内のファイルはいわゆる固定ページとしてルーティングされる。</p>
    <p>画像は<a href="https://thecatapi.com/">The Cat API</a>より。dev時でもbuildされたファイルでも、一回だけフェッチして静的なファイルをキャッシュするためランダム表示してくれるのは最初だけ。→ <a href="/cat2/">動的ねこ</a></p>
    <ul class="p-cat__list">
      {
        cats.map((cat) => (
          <li>
            <img src={cat.url} alt="" width={cat.width} height={cat.height} loading="lazy" fetchpriority="low" />
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
