---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Heading from '@/components/Heading.astro'

import '@c/text.scss'
import '@p/cat.scss'
---

<DefaultLayout title="動的ねこ | ワイのAstroテンプレート">
  <section class="p-page">
    <Heading Hn="h1">動的ねこ</Heading>
    <p>こちらはインラインに&lt;script&gt;を書いているため、ページロードのたびにAPIを叩きに行く。</p>
    <p><a href="https://docs.astro.build/ja/guides/view-transitions/">ビュートランジション</a>採用時はトップレベルに<code>const</code>を書くとページ遷移時に定義済みだと怒られる。</p>
    <ul id="cats" class="p-cat__list"></ul>
  </section>

  <script is:inline>
    async function getCats() {
      const res = await fetch('https://api.thecatapi.com/v1/images/search?limit=9')
      const cats = await res.json()
      return cats
    }
    async function addCats() {
      const cats = await getCats()
      cats.forEach((cat) => {
        const li = document.createElement('li')
        const img = document.createElement('img')
        img.src = cat.url
        img.width = cat.width
        img.height = cat.height
        img.alt = ''
        img.loading = 'lazy'
        li.appendChild(img)
        document.getElementById('cats')?.appendChild(li)
      })
    }
    addCats()
  </script>
</DefaultLayout>
