---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="My Astro Template">
  <p class="logo"><img src="/img/favicon.svg" alt="" /></p>
  <h2>main</h2>
</DefaultLayout>
