---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Heading from '@/components/Heading.astro'

import '@c/text.scss'
---

<DefaultLayout title="ワイのAstroテンプレート">
  <!--
    DefaultLayout.astroの`<slot name="head-additional" />`に要素を追加している。
    `<Fragment>`はReactでの`<>`に相当する空のグループ。
   -->
  <Fragment slot="head-additional">
    <meta name="description" content="ワイのAstroテンプレート" />
  </Fragment>

  <!--
    ここから下がDefaultLayout.astroの`<slot>`に挿入される。
   -->
  <section class="p-top">
    <Heading Hn="h2">Top</Heading>
    <p class="c-text__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nemo. Non pariatur eos ut et, eius amet earum repellat sed ea nostrum maiores necessitatibus, dolorem expedita deleniti magni minima doloribus?</p>
  </section>
</DefaultLayout>
