---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import Heading from '@/components/Heading.astro'

import '@/css/top.css'
---

<DefaultLayout title="My Astro Template">
  <!--
    DefaultLayout.astroの`<slot name="head-additional" />`に要素を追加している。
    `<Fragment>`はReactでの`<>`に相当する空のグループ。
   -->
  <Fragment slot="head-additional">
    <meta name="description" content="ワイのAstroテンプレート" />
  </Fragment>

  <!--
    ここから下がDefaultLayout.astroの`<slot>`に挿入される。
   -->
  <section class="p-top">
    <p class="logo"></p>
    <Heading Hn="h2">方針</Heading>
  </section>
</DefaultLayout>
