@use '../../variables/' as v;
@use '../../object/utility/' as u;

@layer component.heading {
  .c-heading {
    &__h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      margin: 0 0 3rem;
    }
  }
}
