@use '../../variables/' as v;
@use '../../object/utility/' as u;

@layer component.text {
  p:not([class]) {
    font-size: 1.6rem;
    line-height: 1.75;
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }
  a[href^='http'] {
    &::after {
      content: '🡥';
      display: inline-block;
      margin: 0 0.5rem 0 0.25rem;
      padding: 0.2rem 0.3rem;
      font-size: 1rem;
      line-height: 1;
      border: 1px solid #0969da;
      border-radius: 2px;
      vertical-align: text-top;
    }
  }

  .astro-code {
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0 2rem 2rem;
    cursor: auto;
  }
}
