@layer layout.header {
  .l-header .logo {
    width: min(100%, 24rem);
    height: auto;
    margin: 0 auto 2rem;
  }
  .l-header__h1 {
    font-size: 3rem;
    text-align: center;
  }
}
@layer layout.main {}
@layer layout.footer {
  .l-footer {
    background: rgba(0, 0, 0, 0.05);
    padding: 2rem 0;
  }
  .l-footer__link {
    text-align: center;
    font-size: 1.6rem;
  }
}