@mixin flex {
  display: flex;
}

@mixin center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin aCenter {
  @include flex;
  justify-content: flex-start;
  align-items: center;
}
