@use 'sass:map';

$images: (
  arrow: '../img/icon/arrow.svg',
  circle-arrow: '../img/icon/circle-arrow.svg',
  check: '../img/icon/check.svg',
  check-g: '../img/icon/check-g.svg',
  dropdown: '../img/icon/dropdown.svg',
  remove: '../img/icon/remove.svg',
  aside-toggle: '../img/icon/aside-toggle.svg',

  // 管理画面用
  gear: '../img/kanri/gear.svg',
  lock: '../img/kanri/lock.svg',
  accept: '../img/kanri/accept.svg',
  comment: '../img/kanri/comment.svg',
  right-arrow: '../img/kanri/right-arrow.svg',
  modal-close: '../img/kanri/modal-close.svg',
  modal-close-dark: '../img/kanri/modal-close-dark.svg',
  upload: '../img/kanri/upload.svg',
  download: '../img/kanri/download.svg',
  m-hand: '../img/kanri/m-hand.svg',
  m-point: '../img/kanri/m-point.svg',
  m-commented: '../img/kanri/m-commented.svg',
  m-comments: '../img/kanri/m-comments.svg',
  details-open: '../img/kanri/details-open.svg',
  details-close: '../img/kanri/details-close.svg',
);

@mixin image($name) {
  @if map.has-key($images, $name) {
    $src: map.get($images, $name);
    background-image: url('#{$src}');
    background-repeat: no-repeat;
  }
}

@mixin contain($image) {
  @include image($image);
  background-size: contain;
  @content;
}

.u-icon {
  &__hand {
    @include image(m-hand);
  }
  &__point {
    @include image(m-point);
  }
  &__comments {
    @include image(m-comments);
  }
  &__commented {
    @include image(m-commented);
  }
  // グレー
  &__inactive {
    filter: grayscale(1) opacity(0.06);
  }
  // 白抜き
  &__reverse {
    filter: grayscale(1) brightness(0) invert(1);
  }
}
