@use '../../variables/' as var;
@use '../utility/' as u;

.c-box__alert {
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 34px;
  border: 1px solid;
  text-align: center;
  p {
    font-size: var.get(fs, l);
    line-height: var.get(lh, default);
  }
  &.c-box__candidacy {
    border-color: var.get(cl, primary1);
    color: var.get(cl, primary1);
  }
  &.c-box__nominated {
    border-color: var.get(cl, primary2);
    color: var.get(cl, primary2);
  }
}
@include u.media-query(sp) {
  .c-box__alert {
    padding: u.media-px(10) u.media-px(30);
    p {
      font-size: u.media-px(15);
    }
  }
}

.c-box__notice {
  margin-top: 36px;
  padding: 32px 0;
  &.c-box__candidacy {
    background: var.get(cl, primary1);
  }
  &.c-box__nominated {
    background: var.get(cl, primary2);
  }
  p {
    color: var.get(cl, bg);
    line-height: var.get(lh, default);
    font-size: var.get(fs, default);
    text-align: center;
  }
}
@include u.media-query(sp) {
  .c-box__notice {
    margin-top: u.media-px(31);
    padding: u.media-px(20) u.media-px(20) u.media-px(28) u.media-px(20);
    p {
      font-size: u.media-px(16);
      text-align: left;
    }
  }
}

.c-box__inputs {
  background: var.get(cl, gray1);
  text-align: center;
  padding: 50px 0 80px;
  &:first-child {
    margin-top: 36px;
  }
}
@include u.media-query(sp) {
  .c-box__inputs {
    padding: u.media-px(43) 0 u.media-px(53);
    &:first-child {
      margin-top: u.media-px(31);
    }
  }
}

.c-box__back {
  position: relative;
  min-height: 50px;
}
@include u.media-query(sp) {
  .c-box__back {
    min-height: u.media-px(50);
  }
}

.c-box__next {
  @include u.fx-center;
  width: 240px;
  margin: 50px auto 0;
  &.c-box__next--aside {
    width: 200px;
    margin-top: 34px;
  }
}
@include u.media-query(sp) {
  .c-box__next {
    width: u.media-px(240);
    margin: u.media-px(43) auto 0;
    &.c-box__next--aside {
      width: u.media-px(200);
      margin-top: u.media-px(34);
    }
  }
}

.c-box__additional {
  padding: 42px 0 50px;
  text-align: center;
  background: var.get(cl, gray2);
  color: var.get(cl, bg);
  .c-heading__h2 {
    margin-bottom: 11px;
  }
}
@include u.media-query(sp) {
  .c-box__additional {
    padding: u.media-px(42) 0 u.media-px(52);
    .c-heading__h2 {
      margin-bottom: u.media-px(10);
    }
    .c-form__note {
      width: u.media-px(200);
      margin-right: auto;
      margin-left: auto;
      br {
        display: none;
      }
    }
  }
}

// 送信完了
.c-box__complete {
  text-align: center;
  padding-top: 68px;
  p {
    font-size: var.get(fs, l);
    line-height: var.get(lh, default);
    margin-bottom: 136px;
  }
}
@include u.media-query(sp) {
  .c-box__complete {
    padding-top: u.media-px(62);
    p {
      font-size: u.media-px(18);
      margin-bottom: u.media-px(140);
    }
  }
}

.c-box__memo {
  text-align: center;
  font-size: var.get(fs, s);
}
@include u.media-query(sp) {
  .c-box__memo {
    font-size: u.media-px(14);
  }
}
