@use '../../variables/' as var;
@use '../utility/' as u;

@mixin shadow {
  box-shadow: 0 3px 5px rgba(24, 23, 23, 0.16);
}
@mixin sp-shadow {
  box-shadow: 0 u.media-px(3) u.media-px(5) rgba(24, 23, 23, 0.16);
}

.c-button__base {
  @include u.fx-center;
  @include shadow;
  border-radius: 10px;
}
@include u.media-query(sp) {
  .c-button__base {
    @include sp-shadow;
    border-radius: u.media-px(10);
  }
}

.c-button__back {
  @include u.fx-center;
  gap: 0 12px;
  padding: 0 34px 0 10px;
  height: 50px;
  font-size: var.get(fs, default);
  border-radius: 0 10px 10px 0;
  color: var.get(cl, bg);
  background: var.get(cl, gray2);
  transition: 0.2s opacity;
  &::before {
    @include u.i-contain(circle-arrow) {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  &:hover {
    opacity: 0.8;
  }
  // この親を持つときはabsolute
  .c-box__back & {
    position: absolute;
    left: -30px;
    top: 0;
  }
}
@include u.media-query(sp) {
  .c-button__back {
    gap: 0 u.media-px(12);
    padding: 0 u.media-px(34) 0 u.media-px(10);
    height: u.media-px(50);
    width: fit-content;
    font-size: u.media-px(16);
    border-radius: 0 u.media-px(10) u.media-px(10) 0;
    &::before {
      width: u.media-px(20);
      height: u.media-px(20);
    }
    .c-box__back & {
      position: static;
      align-self: flex-start;
      transform: translate(u.media-px(-20), 0);
    }
    .c-heading__title & {
      margin-bottom: u.media-px(27);
    }
  }
}

.c-button__next {
  @include u.fx-center;
  @include shadow;
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  font-size: var.get(fs, ll);
  color: var.get(cl, bg);
  transition: 0.2s background;
  .c-box__candidacy & {
    background: var.get(cl, primary1-dark);
  }
  .c-box__nominated & {
    background: var.get(cl, primary2-dark);
  }
  &::after {
    @include u.i-contain(circle-arrow) {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: rotate(180deg) translate(0, 50%);
    }
  }
  &:hover {
    .c-box__candidacy & {
      background: var.get(cl, primary1);
    }
    .c-box__nominated & {
      background: var.get(cl, primary2);
    }
  }
}
@include u.media-query(sp) {
  .c-button__next {
    height: u.media-px(80);
    border-radius: u.media-px(10);
    font-size: u.media-px(20);
    &::after {
      width: u.media-px(20);
      height: u.media-px(20);
      right: u.media-px(10);
    }
  }
}

// 閉じる
.c-button__close {
  @include u.fx-center;
  @include shadow;
  width: 240px;
  height: 80px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: var.get(fs, ll);
  color: var.get(cl, bg);
  background: var.get(cl, gray2);
}
@include u.media-query(sp) {
  .c-button__close {
    @include sp-shadow;
    width: u.media-px(240);
    height: u.media-px(80);
    border-radius: u.media-px(10);
    font-size: u.media-px(20);
  }
}
