@use '../../variables/' as var;
@use '../utility/' as u;

table,
th,
td {
  border-collapse: collapse;
}

.c-table {
  width: 100%;
  th,
  td {
    font-weight: var.get(fw, regular);
    border-collapse: collapse;
    font-size: var.get(fs, default);
  }
}

// 推薦したい人を選択 のテーブル
.c-table__recommend {
  &.c-table__wrap {
    padding: 22px 6px 6px;
    background: var.get(cl, gray1);
  }
  th,
  td {
    padding: 14px 18px;
    vertical-align: middle;
    border-bottom: 5px solid var.get(cl, gray1);
  }
  thead {
    th {
      padding: 11px 18px;
      font-size: var.get(fs, ss);
      &:nth-of-type(1) {
        width: 58px;
      }
    }
  }
  tbody {
    th {
      padding: 0;
      // text-align: center;
    }
    td {
      background: var.get(cl, bg);
      transition: 0.2s background;
    }
    td:last-child {
      text-align: right;
    }
    tr:last-child {
      th,
      td {
        border-bottom: 0;
      }
    }
    tr:hover td {
      background: var.get(cl, highlight);
    }
    // チェックボックスがオンの時
    .c-table__row--checked {
      td {
        background: var.get(cl, highlight);
      }
    }
  }
}
@include u.media-query(sp) {
  .c-table__recommend {
    &.c-table__wrap {
      padding: u.media-px(40) u.media-px(20) u.media-px(20);
    }
    table,
    thead,
    tbody,
    tr,
    td {
      display: block;
    }
    thead {
      display: none;
    }
    th,
    td {
      padding: 0;
      border-bottom: 0;
      font-size: u.media-px(14);
    }
    tbody {
      tr {
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: repeat(3, auto);
        background: var.get(cl, bg);
        gap: u.media-px(6) 0;
        margin-bottom: u.media-px(5);
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      th {
        grid-column: 1;
        grid-row: 1 / span 3;
        @include u.fx-center;
      }
      td {
        padding-left: u.media-px(18);
        transition: none;
        background: transparent;
      }
      // 個人・法人
      td:nth-of-type(1) {
        grid-column: 2;
        grid-row: 1;
        padding-top: u.media-px(10);
      }
      // エリア
      td:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1;
        padding-top: u.media-px(10);
      }
      // 氏名+会社名
      td:nth-of-type(3) {
        grid-column: 2 / span 2;
        grid-row: 2;
      }
      // 業種
      td:nth-of-type(4) {
        grid-column: 2;
        grid-row: 3;
        padding-bottom: u.media-px(10);
        text-align: left;
      }
      tr:hover {
        td {
          background: transparent;
        }
      }
      .c-table__row--checked {
        background: var.get(cl, highlight);
      }
    }
  }
}

// 管理画面のテーブル
.c-table__kanri {
  width: 100%;
  font-weight: var.get(fw, regular);
  margin-bottom: 42px;
  &:last-child {
    margin-bottom: 0;
  }
  th {
    padding: 9px 15px;
    font-size: var.get(fs, ss);
    color: var.get(cl, weak);
  }
  td {
    vertical-align: middle;
    padding: 8px 15px;
    font-size: var.get(fs, s);
    transition: 0.2s background;
  }
  // パスコード発行
  &--users {
    th,
    td {
      border-bottom: 1px solid var.get(cl, weak);
    }
    th:last-child {
      width: 80px;
    }
    tr:hover td {
      background: var.get(cl, primary1-light);
    }
  }
  // 受付状況
  &--uketuke {
    tbody {
      th,
      td {
        border-top: 1px solid var.get(cl, weak);
      }
    }
    th:nth-of-type(8) {
      width: 70px;
    }
    th:last-child {
      width: 70px;
    }
    td:nth-of-type(8) {
      color: var.get(cl, weak);
    }
    .c-table__row--active {
      td {
        background: var.get(cl, primary2-light);
      }
      td:nth-of-type(8) {
        color: var.get(cl, text);
      }
    }
  }
}

tr[data-comment-link] {
  cursor: pointer;
}
