@use '../variables/' as var;
@use '../object/utility/' as u;

.l-aside {
  box-sizing: border-box;
  width: 250px;
  border-left: 1px solid var.get(cl, weak);
  background: var.get(cl, bg);
}
.l-aside__inner {
  padding-bottom: 34px;
}
@include u.media-query(sm) {
  .l-aside {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgb(0 0 0 / 0.5);
    cursor: pointer;
    overflow: auto;
    transition: 0.2s left, 0.2s background;
  }
  .l-aside__inner {
    min-height: 100%;
    padding-bottom: 34px;
    width: 250px;
    background: var.get(cl, bg);
    cursor: auto;
  }
  // .aside-openはhtml要素のclass
  .aside-open {
    overflow: hidden;
    .l-aside {
      left: 0;
    }
  }
}
@include u.media-query(sp) {
  .l-aside__inner {
    padding-bottom: u.media-px(34);
    width: u.media-px(250);
  }
}

.l-aside__button {
  display: none;
}
@include u.media-query(sm) {
  .l-aside__button {
    @include u.fx-center;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background: var.get(cl, primary1-dark);
    color: var.get(cl, bg);
    transition: 0.2s background, 0.2s right;

    border-radius: 10px 0 0 10px;
    width: 40px;
    height: 140px;
  }
  .l-aside__button--label {
    @include u.fx-center;
    gap: 0 8px;
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: var.get(fs, default);
    &::before {
      content: '';
      display: block;
      @include u.i-contain(aside-toggle);
      width: 18px;
      height: 18px;
      transform: rotate(-90deg);
    }
  }
  .aside-open {
    .l-aside__button {
      right: 250px;
      background: var.get(cl, primary1);
    }
    .l-aside__button--label {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
}
@include u.media-query(sp) {
  .l-aside__button {
    border-radius: u.media-px(10) 0 0 u.media-px(10);
    width: u.media-px(40);
    height: u.media-px(140);
  }
  .l-aside__button--label {
    gap: 0 u.media-px(8);
    font-size: u.media-px(16);
    &::before {
      width: u.media-px(18);
      height: u.media-px(18);
    }
  }
  .aside-open {
    .l-aside__button {
      right: u.media-px(250);
    }
  }
}
