---
// CSSのインポートは以下の順番通りに行われる
// 読み込み順で継承順が変わらないように@layerを採用している
import '@/css/foundation.css'
import Header from '@/layouts/Header.astro'
import Main from '@/layouts/Main.astro'
import Footer from '@/layouts/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <title>{title}</title>
    <slot name="head-additional" />
  </head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
