---
// このscssファイルは他のコンポーネントより先に読み込む必要がある(@layerを定義している)
import '@/styles/scss/foundation/foundation.scss'

import Head from '@/layouts/Head.astro'
import Header from '@/layouts/Header.astro'
import Main from '@/layouts/Main.astro'
import Footer from '@/layouts/Footer.astro'

interface Props {
  title: string
  htmlClass?: string
}

const { title, htmlClass } = Astro.props
---

<html lang="ja" class={htmlClass && htmlClass}>
  <Head title={title}>
    <slot name="head-additional" />
  </Head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
