---
import '@/css/l-header.css'
---

<header class="l-header">
  <hgroup>
    <p class="logo"><img src="/img/favicon.svg" alt="" /></p>
    <h1 class="l-header__h1">ワイのAstroテンプレート</h1>
  </hgroup>
</header>
