---
import '@/styles/scss/layout/main-nav.scss'
---

<nav class="l-main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cat/">ねこ</a></li>
    <li><a href="/posts/">記事</a></li>
  </ul>
</nav>
