// variables
@use 'sass:map';
@use 'sass:color';

@use './animation';
@use './color' as cl;
@use './font';
@use './text';

// :rootに登録するグローバル変数
$var: (
  cl: cl.$color,
  ff: font.$family,
  fs: font.$size,
  fw: font.$weight,
  lh: text.$line-height,
  dr: animation.$duration,
);

// css関数のvar()を取得する
// cl -> 色（ショトカあり）
// ff -> font-family
// fs -> font-size（ショトカあり）
// fw -> font-weight
// lh -> line-height
// dr -> duration (traisiton)
@function get($type, $name: default) {
  @if map.has-key($var, $type, $name) {
    @return var(--#{$type}-#{$name});
  }
  @error 'Undefined $type or $name';
}

// 色の透明度変更 $aは%、負の値で薄くなる
@function cl-opacity($color, $a) {
  @if map.has-key($var, cl, $color) {
    @return color.scale(map.get($var, cl, $color), $alpha: $a);
  }
}

// 色とフォントサイズはショトカを用意
@function cl($name: default) {
  @return get(cl, $name);
}
@function fs($name: default) {
  @return get(fs, $name);
}
